body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    height: 100%;
}
.container {
    min-height: 100vh;
    white-space: nowrap;
}

/*index main 페이지*/
.main-content {
    padding: 20px;
    margin-left: 50px;
}

/*전체 게시물 목록*/
.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.photo-grid a{
    text-decoration: none;
    color: black;
}

/*줄바꾸기*/
@media (max-width: 1000px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) {
    .photo-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1700px) {
    .photo-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

/*개별 게시물 레이아웃*/
.photo-card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 
}
.photo-card a:hover{
    color: gray;
}

/*게시물 썸네일*/
.thumbnail {
    width: 100%;
    height: 150px;
    background: #ddd;
    border-radius: 5px;
}